---
const { platform, username } = Astro.props;
const iconUrl = `https://cdn.simpleicons.org/${platform}?`;
---

<a
  href={`https://www.${platform}.com/${username}`}
  target="_blank"
  rel="noopener noreferrer"
>
  <strong>
    {platform}
  </strong>
  <img
    src={iconUrl}
    title={`Ir a ${platform}`}
    alt={`${platform} icon`}
    width="24"
    height="24"
  />
</a>


