---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { frontmatter } = Astro.props;
import MainFrontmatter from "../components/Header.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <Header />
    <main>
      <!-- <MainFrontmatter/> -->
      <h1>{frontmatter.title}</h1>
      <p>Publicado el: {frontmatter.pubDate.toString().slice(0, 10)}</p>
      <p>Mi estado:<em> {frontmatter.description}</em></p>
      <p>Autor: {frontmatter.author}</p>
      <slot />
      <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
      <p>tags :</p>
      {frontmatter.tags.map((tag: string) => <span> # {tag}</span>)}
    </main>
  </body>
  <Footer />
  <script src="/scripts/menu.js" defer></script>
</html>
